.profile_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 2rem;
}

.profile_container_userInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 2rem;
}

.profile_avatar_fig {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;

  flex-shrink: 0;
}

.profile_avatar_fig img {
  width: 100%;
  height: 100%;
}

.profile_container_userInfo_title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  overflow: hidden;
  max-height: 15rem;
}

.profile_container_userInfo_name_area {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile_container_userInfo_verified {
  font-size: 1.4rem;
  font-weight: 600;

  flex-shrink: 0;
}

.profile_container_userInfo_title .profile_container_userInfo_name {
  font-size: 1.7rem;
  font-weight: 700;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile_container_userInfo_title .profile_container_userInfo_username {
  font-size: 1.2rem;
  font-weight: 600;
  opacity: 0.6;
  cursor: pointer;
  width: 100%;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile_container_userInfo_title .profile_container_userInfo_bio {
  line-height: 1.5;
}

.profile_container_edit_area {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.profile_container_edit_area_setting_button {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.profile_container_edit_area_button {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  padding: 0.6rem;
  border-radius: 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.2s ease;
}

.profile_container_edit_area_button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.profile_container_avatar_preview {
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;

  backdrop-filter: blur(5px);
}

.profile_container_avatar_preview_fig {
  height: 25rem;
  width: 25rem;
  overflow: hidden;
  cursor: pointer;
}

.profile_container_avatar_preview_fig img {
  width: 100%;
  height: 100%;
}

.profile_container_avatar_preview_close {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  cursor: pointer;
  font-weight: 600;
  user-select: none;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.5rem;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  border-radius: 50%;
}

.profile_container_no_posts {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
}
.profile_container_posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: scroll;
}

.profile_container_posts h1 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  font-weight: 700;
  user-select: none;
}
@media screen and (max-width: 500px) {
  .profile_container_userInfo {
    flex-direction: column-reverse;
    align-items: start;
    gap: 2rem;
  }
}
