.loading_post_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.loading_post {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding-inline: 1.5rem;
}

.loading_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
