.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: white;
}

@media screen and (max-width: 800px) {
  .home {
    height: calc(100% - 5rem);
  }
}
