@import url("./fonts.css");

:root {
  font-family: "Geist", sans-serif;
  color: white;
}
::-webkit-scrollbar {
  display: none;
}

.Toastify__toast-body {
  font-family: "Geist", sans-serif;
  font-weight: 700;
}

::selection {
  background: rgba(255, 255, 255, 0.3);
  color: white;
}

.swal2Popup {
  background-color: #181818;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  border-radius: 15px;
}

.swal2Popup .swal2-title,
.swal2Popup .swal2-content {
  color: white !important;
}

.swal2Popup .swal2-styled.swal2-confirm {
  background-color: #181818 !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  color: white !important;
}

.swal2-popup {
  font-size: 1rem !important;
  font-family: "Geist", sans-serif;
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 1340px) {
  html {
    font-size: 15px !important;
  }
}

@media screen and (max-width: 1340px) {
  html {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 1240px) {
  html {
    font-size: 13px !important;
  }
}

@media screen and (max-width: 300px) {
  html {
    font-size: 10px !important;
  }
}
