@import url("./fonts.css");

:root {
  font-family: "Geist", sans-serif;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

.Toastify__toast-body {
  font-family: "Geist", sans-serif;
  font-weight: 700;
}

::selection {
  background: rgba(255, 255, 255, 0.3);
  color: white;
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 1340px) {
  html {
    font-size: 15px !important;
  }
}

@media screen and (max-width: 1340px) {
  html {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 1240px) {
  html {
    font-size: 13px !important;
  }
}

@media screen and (max-width: 300px) {
  html {
    font-size: 10px !important;
  }
}
