.auth_container {
  min-height: 100vh;
  width: 100%;
  background-color: #09090b;

  display: flex;
  justify-content: center;
  align-items: center;
}

.auth_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  padding: 1rem;
}
