.post {
  display: flex;
  gap: 1rem;
  padding: 1.5rem;
  width: 100%;

  cursor: pointer;
}

.post_wrapper {
  width: 100%;
}

.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.avatar img {
  width: 100%;
  height: 100%;
}

.post_main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.post_buttons {
  display: flex;
  gap: 1.2rem;
  width: 100%;
  justify-content: start;
  align-items: center;
}
.post_button_icon {
  cursor: pointer;
  font-size: 1.2rem;
  user-select: none;
}

.name_area {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.likes {
  display: flex;
  align-items: end;
  justify-content: end;
  height: 100%;
  gap: 0.4rem;
}
.comments {
  display: flex;
  align-items: end;
  justify-content: end;
  height: 100%;
  gap: 0.4rem;
}
.comments_count {
  user-select: none;
  font-size: 0.8rem;
}
.likes_count {
  user-select: none;
  font-size: 0.8rem;
}
.username {
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.post_content {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.4;
}

.post_time {
  font-size: 0.8rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}
.name_divider {
  font-size: 0.8rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}

.share_label {
  position: relative;
}

.share_menu {
  position: absolute;
  bottom: -80%;
  left: 150%;
  background-color: #181818;
  padding: 0.4rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  user-select: none;
}

.share_choice {
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.share_menu h1 {
  color: white;
  text-wrap: nowrap;
}

.share_choice:hover {
  background-color: rgba(255, 255, 255, 0.185);
}

.verified_post {
  flex-shrink: 0;
}

.divider {
  display: block;
  width: 100%;
  height: 0.2px;
  border-color: rgba(255, 255, 255, 0.1);
}
